.header {
    min-width: 360px;
    background-color: red;
}

.navbar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    min-width: 360px;
    background-color: black;
    z-index: 100000;
}

.logo {
    position: absolute;
    width: 100px;
    top: 15px;
    left: 10px;
    z-index: 100;
}

.menu {
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 10px;
    height: 35px;
    padding: 10px 5px;
    border: 1px solid white;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000000000000000;
}

.span {
    position: relative;
    height: 1px;
    width: 30px;
    border-radius: 4px;
    background-color: white;
}
.transformOne {
    transform: rotate(45deg) translateX(4px) translateY(4px);
}
.transformTwo {
    transform: rotate(-45deg) translateX(5px) translateY(-4px);
}
.nav {
    position: fixed;
    top: 75px;
    right: -100vw;
    width: 100%;
    font-weight: 100;
    bottom: 0;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right .1s;
    background-color: rgba(0, 0, 0, 0.935);
    color: white;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    z-index: 1000000000000000;
}
.nav :nth-child(n) {
    margin-bottom: 50px;
}
.visible {
    right: 0;
    transition: right .2s;
}

.link {
    margin: 5px 10px 0px 0px;
    text-decoration: none;
    color: #e3e6e8;
    padding-right: 3px;
    transition-duration: .3s;
}

.link:hover {
    color: #4393BE;
    border-left: 1px solid red;
    padding-left: 5px;
}

.active {
    color: #4393BE;
    border-left: 1px solid red;
    padding-left: 5px;
}

.button {
    margin: 10px 0;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 1px;
    background-color: white;
    width: 100px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
}


/* @media (orientation: landscape) and (max-height: 360px) {
    .navbar {
        position: absolute;
    }

    .nav {
        position: absolute;
        background-image: linear-gradient(#003450, #4393BE);
        border-radius: 0 30px 0 0;
        z-index: 100;
    }
} */

@media (min-width: 1024px) {

    .nav {
        position: fixed;
        top: 22px;
        right: 10px;
        bottom: auto;
        width: 270px;
        min-width: 525px;
        max-width: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: right .1s;
        color: white;
        font-size: 16px;
        margin: 0;
        border-radius: 0px 0px 0px 0;
        z-index: 1000000000000000;
    }
    .nav :nth-child(n) {
        margin-bottom: 0px;
    }
    .menu {
        display: none;
    }

    /* .menu:hover {
        animation: rotar 1.5s alternate;
    } */

    /* @keyframes rotar {
        0% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(10deg);
        }

        40% {
            transform: rotate(-15deg);
        }

        60% {
            transform: rotate(15deg);
        }

        80% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    } */
}